<div class="conversation_info_topbar">
    <button class="close_conversation_info close_add_member_selection">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
    </button>
    <div class="info_type">Add Member</div>
</div>
<div class="members_to_add">
    <button class="member_to_add_option">
        <div class="group_member_data">
            <div class="member_avatar">
                <div class="image_thumb">C</div>
            </div>
            <div class="member_text_info">
                <div class="info_name_title">
                    <div class="member_name">
                        Cool User 2
                    </div>
                    <div class="member_title">
                        admin
                    </div>
                </div>
                <div class="status">
                    <span class="last_seen_member_container">
                        last seen
                        <span class="last_seen_member">just now</span>
                    </span>
                </div>
            </div>
        </div>
    </button>
</div>