{% load static %}
<div class="chat">
    <div class="chat_image">
        <img src="{% get_media_prefix %}DA_icon.png">
        <div class="online"></div>
    </div>
    <div class="chat_info">
        <div class="mini_chat_info">
            <div class="chat_name_container">
                <div class="chat_name">Cool bro</div>
            </div>
            <div class="message_info_preview">
                <div class="has_read">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                    </svg>
                </div>
                <div class="time_read">Mon</div>
            </div>
        </div>
        <div class="last_message_data">
            <div class="last_message">
                I will trust you. For now, but i know that you are just a sussy baka
            </div>
            <span class="unread_count">3</span>
        </div>
    </div>
</div>