<div class="group_member_data">
    <div class="member_avatar">
        <div class="image_thumb">C</div>
    </div>
    <div class="member_text_info">
        <div class="info_name_title">
            <div class="member_name">
                Cool User 2
            </div>
            <div class="member_title">
                admin
            </div>
        </div>
        <div class="status">
            <span class="last_seen_member_container">
                last seen
                <span class="last_seen_member">just now</span>
            </span>
        </div>
    </div>
</div>