<div class="message_menu">
    <div class="backdrop" onclick="deleteParentElement(this)"></div>
    <div class="message_react">
        <button class="reaction_choice" emoji_unicode="128077">
            <span class="reaction_content">&#128077;</span>
        </button>
        <button class="reaction_choice" emoji_unicode="128561">
            <span class="reaction_content">&#128561;</span>
        </button>
        <button class="reaction_choice" emoji_unicode="128565">
            <span class="reaction_content">&#128565;</span>
        </button>
        <button class="reaction_choice" emoji_unicode="128514">
            <span class="reaction_content">&#128514;</span>
        </button>
        <button class="reaction_choice" emoji_unicode="128586">
            <span class="reaction_content">&#128586;</span>
        </button>
        <button class="reaction_choice" emoji_unicode="128562">
            <span class="reaction_content">&#128562;</span>
        </button>
        <button class="reaction_choice" emoji_unicode="127881">
            <span class="reaction_content">&#127881;</span>
        </button>
        <button class="more_reactions">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </button>
    </div>
    <div class="message_options">
        <button onclick="copyMessageTextToClipboard(this)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
            </svg>
            Copy Text
        </button>
        <button onclick="startEditing(this)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
            </svg>
            Edit
        </button>
        <button class="delete" onclick="showDeletePopUp(this)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
            Delete
        </button>
    </div>
</div> 