{% load static %}
<div class="messages_flow">
    <div class="message_date_group">
        <div class="date_label_container"><span class="date_label">January 1, 2024</span></div>
        <div class="collocutor_message message_with_reactions" msg_id="0">
            Hello how are you?
            <span class="message_info">
                <div class="reactions_container">
                    <button class="reaction own_reaction">
                        <span class="reaction_content">&#128507;</span>
                        <span class="reaction_count">1</span>
                    </button>
                    <button class="reaction">
                        <span class="reaction_content">&#128509;</span>
                        <span class="reaction_count">6</span>
                    </button>
                </div>
                <span class="message_meta">
                    <span class="message_send_time">edited 12:13</span>
                </span>
            </span>
        </div>
        <div class="user_message" msg_id="0">
            Hi, I am fine. Thank you
            <span class="message_info">
                <span class="message_meta">
                    <span class="message_send_time">12:13</span>
                    <span class="message_read">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                            <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0"/>
                            <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                        </svg>
                    </span>
                </span>
            </span>
            <!-- {% include "partials_for_base_page/message_menu.html" %} -->
        </div>
        <div class="message_with_author_wraper">
            <div class="msg_author_avatar">
                <div class="image_thumb">C</div>
            </div>
            <div class="collocutor_message message_with_reactions message_with_author" msg_id="0">
                <div class="message_author">
                    user_user
                </div>
                <div class="message_text_container">
                    Hello how are you?
                    <span class="message_info">
                        <div class="reactions_container">
                            <button class="reaction own_reaction">
                                <span class="reaction_content">&#128507;</span>
                                <span class="reaction_count">1</span>
                            </button>
                            <button class="reaction">
                                <span class="reaction_content">&#128509;</span>
                                <span class="reaction_count">6</span>
                            </button>
                        </div>
                        <span class="message_meta">
                            <span class="message_send_time">edited 12:13</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="message_with_author_wraper">
            <div class="msg_author_avatar">
                <img src="{% get_media_prefix %}DA_icon.png">
            </div>
            <div class="collocutor_message message_with_author" msg_id="0">
                <div class="message_author">
                    user_user
                </div>
                <div class="message_text_container">
                    Hello how are you?
                    <span class="message_info">
                        <span class="message_meta">
                            <span class="message_send_time">edited 12:13</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>